<div class="col-md-3">
          <h2>User Info</h2>
          
          <%= image_tag @user.get_profile_image(100,100) %>
          
          <table class="table">
              
              <tr>
                  <th>name</th>
                  <th><%= @user.name %></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th><%= @user.introduction %></th>
              </tr>
          </table>
          
          <!--<div class="row">-->
          <!--  <a class="btn btn-outline-secondary btn-block edit_user_path"><i class="fa-solid fa-user-gear"></i></a>-->
          <!--</div>-->
          
          <div class="row">
            <%= link_to(edit_user_path(@user.id),class: 'btn btn-outline-secondary btn-block') do %>
　          <i class="fas fa-user-cog"></i>
            <% end %>
          </div>
          
          
          
          <h2 class="mt-3">New book</h2>
         <%= form_with model: @book do |f| %>
          <span>Title</span><br>
          <%= f.text_field:title %><br>
          <br>
          <span>Opinion</span><br>
         <%= f.text_area:body %><br>
         <br>
         <%= f.submit ' Create Book ' , class: 'btn btn-success' %>
         <% end %>
          
      </div>